# Environment and credentials
.env

# Logs
logs/
log_tts.log

# Audio files
ttsaudio/

# Python cache and virtual environments
__pycache__/
*.py[cod]
.Python
venv/

idyllic-folio-368903-e003f40e6661.json
